$titleFontX = "Neuropol X", sans-serif;

$codeFont = "Source Code Pro", monospace;
$textFont = "Brandon Grotesque", sans-serif;

$colors = {
  lightYellow: #fcfda2,
  babyBlue: #7dfde0,
  mintGreen: #88fe82,
  brightRed: #ff4e4e,
  softPink: #ff8eee,
}
